/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis de cores */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Estilo global */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white font-semibold py-2 px-4 rounded-md hover:bg-primary-dark transition-colors duration-300;
  }
  .btn-secondary {
    @apply bg-secondary text-white font-semibold py-2 px-4 rounded-md hover:bg-secondary-dark transition-colors duration-300;
  }
}
